* {
  margin: 0;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  background-color: rgb(241, 241, 241);
}

.DailyInfoBoxes {
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.subTitle {
  text-align: center;
  margin-top: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 60px;
  font-family: roboto condensed,sans-serif;
}