.DailyInfoBoxYellow{
    height: 280px;
    width: 400px;
    background-color: white !important;
    border-top: 10px solid yellow;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.DailyInfoBoxGreen{
    height: 280px;
    width: 400px;
    background-color: white;
    border-top: 10px solid yellowgreen;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.DailyInfoBoxRed{
    height: 280px;
    width: 400px;
    background-color: white;
    border-top: 10px solid red;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.DailyInfoBoxOrange{
    height: 280px;
    width: 400px;
    background-color: white;
    border-top: 10px solid orange;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.DailyInfoBoxBlue{
    height: 280px;
    width: 400px;
    background-color: white;
    border-top: 10px solid lightblue;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.DailyInfoBoxPurple{
    height: 280px;
    width: 400px;
    background-color: white;
    border-top: 10px solid purple;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
}

.title {
    text-align: center;
}

.Text {
    font-size: 90px;
    color: #363636;
    padding-left: 5px;
    padding-top: 20px;
}