.yellow {
    color: rgb(228, 228, 15);
    font-size: 50px;
}

.red {
    color: red;
    font-size: 50px;
}

.green {
    color: yellowgreen;
    font-size: 50px;
}

.orange {
    color: orange;
    font-size: 50px;
}

.blue {
    color: lightblue;
    font-size: 50px;
}

.purple {
    color: purple;
    font-size: 50px;
}

.normal {
    color: black;
    font-size: 50px;
}